<!DOCTYPE html>
<html>
  <head>
    <title>Vue Forms</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css"
    />
  </head>

  <body>
    <div class="columns" id="app">
      <div class="column is-two-thirds">
        <section class="section">
          <h1 class="title">Vue Forms!</h1>

          <hr />

          <section class="form">
            <div class="field">
              <label for="first-name" class="label">First Name</label>
              <input
                v-model="form.firstName"
                class="input"
                type="text"
                id="first-name"
                placeholder="First Name"
              />
              <label for="middle-name" class="label"
                >Middle Name <span>(optional)</span></label
              >
              <input
                v-model="form.middleName"
                class="input"
                type="text"
                id="middle-name"
                placeholder="Middle Name"
              />
              <label for="last-name" class="label">Last Name</label>
              <input
                v-model="form.lastName"
                class="input"
                type="text"
                id="last-name"
                placeholder="Last Name"
              />
              <label for="email" class="label">Email</label>
              <input
                v-model="form.email"
                class="input"
                type="email"
                id="email"
                placeholder="email@email.com"
              />
            </div>
            <!--field-->
          </section>
          <!-- form-->
          <div class="output">
            <li v-for="item in form">
              {{ item }}
            </li>
          </div>
        </section>
        <!--section-->
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          form: {
            firstName: "",
            middleName: "",
            lastName: "",
            email: ""
          }
        }
      });
    </script>
  </body>
</html>
