<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css"
    />
  </head>

  <body>
    <div class="columns" id="app">
      <div class="column is-two-thirds">
        <section class="section">
          <h1 class="title">Registration for Cat Camp</h1>
          <button v-if="step > 2" class="return" @click.prevent="prev()">
            Back
          </button>
          <hr />

          <section v-if="step === 1" class="page-1">
            <h2 class="title">Start a new Application</h2>
            <h3>Cat Camp</h3>
            <button class="application" @click.prevent="next()">
              Start Application
            </button>
          </section>

          <section v-if="step === 2" class="page-2">
            <h2 class="title">Instructions</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum
              voluptas ab nam sint dolore ea eos, hic eum provident, incidunt
              voluptatem? Est rem vero magnam excepturi, non alias dolore. Odio
              iusto illum amet nam fugiat commodi! Dolorum nemo molestias
              adipisci accusantium, corporis delectus fugiat aspernatur
              laudantium, quae excepturi natus dolore!
            </p>
            <button class="continue" @click.prevent="next()">
              Continue
            </button>
          </section>

          <section class="page-3" v-if="step === 3">
            <h2 class="title">Step: 1/7: Select People From Registration</h2>

            <h2 class="title">Select people you want to register:</h2>
            <button class="add-child" @click.prevent="next()">
              + Add a child
            </button>
          </section>

          <section class="page-4" v-if="step === 4">
            <h2 class="title">Step: 1/7: Select People From Registration</h2>

            <div class="field">
              <label for="first-name" class="label">First Name</label>
              <input
                v-model="registration.firstName"
                class="input"
                type="text"
                id="first-name"
                placeholder="First Name"
              />

              <label for="middle-name" class="label"
                >Middle Name <span>(optional)</span></label
              >
              <input
                v-model="registration.middleName"
                class="input"
                type="text"
                id="middle-name"
                placeholder="Middle Name"
              />

              <label for="last-name" class="label">Last Name</label>
              <input
                v-model="registration.lastName"
                class="input"
                type="text"
                id="last-name"
                placeholder="Last Name"
              />

              <label for="email" class="label">Email</label>
              <input
                v-model="registration.email"
                class="input"
                type="email"
                id="email"
                placeholder="email@email.com"
              />

              <label for="dob" class="label">Date of Birth</label>
              <input
                v-model="registration.dob"
                class="input"
                type="date"
                id="dob"
              />

              <label for="gender" class="label">Gender</label>
              <select v-model="registration.gender">
                <option disabled value="">Please select one</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
              </select>
              <!-- <span>Selected: {{ gender }}</span> -->
            </div>

            <div class="cart">
              <h3 class="title">Your cart</h3>
              <ul class="cart-overview">
                <li class="cart-item">
                  {{ registration.firstName }}
                </li>
                <li class="cart-item">
                  {{ registration.lastName }}
                </li>
              </ul>
            </div>
            <button class="continue" @click.prevent="next()">
              Continue
            </button>
          </section>

          <section class="page-5" v-if="step===5">
            <h2 class="title">Step: 2/7: Select Sessions</h2>
            <h3 class="title">
              Select sessions for {{ registration.firstName }}
            </h3>
            <div class="session">
              <p>Ski</p>
              <p>Week 1</p>
              <p>March 18 - March 30 | Show Details</p>
              <span v-model="registration.cost">100.00</span>
              <button class="add-cart" @click.prevent="next()">
                Add to cart
              </button>
            </div>

            <div class="cart">
              <h3 class="title">Your cart</h3>
              <ul class="cart-overview">
                <li class="cart-item">
                  {{ registration.firstName }}
                </li>
                <li class="cart-item">
                  {{ registration.lastName }}
                </li>
                <li class="cart-item">
                  {{ registration.cost }}
                </li>
              </ul>
            </div>
          </section>

          <section class="page-5" v-if="step===6">
            <h2 class="title">Step: 3/7: Add Camp Store Deposits</h2>
            <h3 class="title">
              Add Camp Store Deposits
            </h3>
            <div class="deposit">
              <label for="deposit"
                >Camp Store Deposit for {{ registration.firstName }}</label
              >
              <input
                type="number"
                v-model="registration.deposit"
                id="deposit"
              />
            </div>

            <div class="cart">
              <h3 class="title">Your cart</h3>
              <ul class="cart-overview">
                <li class="cart-item">
                  {{ registration.firstName }}
                </li>
                <li class="cart-item">
                  {{ registration.lastName }}
                </li>
                <li class="cart-item">
                  {{ registration.cost }}
                </li>
                <li class="cart-item">
                  {{ registration.deposit }}
                </li>
              </ul>
            </div>
            <button class="continue" @click.prevent="next()">
              Continue
            </button>
          </section>
        </section>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>

    <script>
      const app = new Vue({
        el: "#app",
        data() {
          return {
            step: 1,
            registration: {
              firstName: null,
              middleName: null,
              lastName: null,
              email: null,
              gender: null,
              cost: null,
              deposit: null
            }
          };
        },
        methods: {
          prev() {
            this.step--;
          },
          next() {
            this.step++;
          },
          submit() {
            alert("Thanks for submitting your application!");
          }
        }
      });
    </script>
  </body>
</html>
